<style type="text/css">
li:first-child {
     font-style: italic;
 }
 li:last-child {
     font-weight: bold;
 }
</style>

<!DOCTYPE html>
<html>
<head>
	<title>Angular Testing</title>
</head>
<!-- Angular special html instructions start with ng; using glacierAngular as primary access module-->
<body ng-app="templateTest">

First-child: italic
<p></p>

Last-child: bold

<ul>
    <li ng-repeat="num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" ng-if="num % 3 !== 0">
        {{ num }} is not divisible by 3!
    </li>
</ul>

<ul>
	<!-- hide allows elements to render THEN applies the display rule 
	hide adds display: none to an element if its value is true
	hide does not remove the element entirely from the DOM, it just prevents the user from seeing them
	parent/child italic/bold does not show-->
	Using ng-hide directive:
    <li ng-repeat="num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" ng-hide="num % 3 == 0">
        {{ num }} is not divisible by 3!
    </li>
</ul>

<ul>
	<!-- show does not remove the element entirely from the DOM - it just prevents the user from seeing them - parent/child italic/bold does not show-->
	Using ng-show directive:
    <li ng-repeat="num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" ng-show="num % 3 != 0">
        {{ num }} is not divisible by 3!
    </li>
</ul>

<!-- TO DO: Make a new unordered list that goes through the letters A through F, use filters to display the letters in both upper and lower case.
 -->

LOWERCASE
<ul>
    <li ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F']">{{ letter | lowercase }}</li>
</ul>

UPPERCASE
<ul>
    <li ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F']">{{ letter | uppercase }}</li>
</ul>



	<img ng-src="{{ '/img/momo.jpg' }}" alt="Cat gifs are always funny">
	<img ng-src="/img/{{ 'momo.jpg' }}" alt="Cat gifs are always funny">
	<img ng-src="/img/{{ 'momo' }}.jpg" alt="Cat gifs are always funny">


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<!-- <script type="text/javascript" src="/js/angular.min.js"></script> -->
<script type="text/javascript" src="/js/templateTest.js"></script>
<script src="multiSelectCtrl.js" type="text/javascript"></script>

<script type="text/javascript"src="/bower_components/angular/angular.min.js"></script>
</body>
</html>